
@{
    ViewBag.Title = "ConfirmDH";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Đơn hàng của khách hàng đã được tiếp nhận và đang trong quá trình thực hiện</h2>
<p>
    @Html.ActionLink("Về Trang Chủ", "Index", "CarStore")
</p>

