
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/AboutUs.css" rel="stylesheet" />
    <title>AboutUs</title>
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Chào mừng bạn đến với AroundTheClock, nguồn cung cấp số một cho bạn về các loại xe. Chúng tôi cố gắng cung cấp cho bạn những sản phẩm tốt nhất, với trọng tâm là Rẻ, Nhanh, Tiện Lợi.
            </p>
            <p class="text">
                Được thành lập vào năm 2022 bởi Nhóm 2, AroundTheClock đã có một chặng đường dài từ những ngày đầu thành lập tại Đại học HUTECH. Khi Nhóm 2 mới thành lập, niềm đam mê của chúng tôi đối với các loại xe có mặc trên thị trường đã thúc đẩy chúng tôi bắt đầu cho việc kinh doanh của riêng mình. Chúng tôi hy vọng bạn thích sản phẩm của chúng tôi cũng như chúng tôi thích cung cấp chúng cho bạn. Nếu bạn có bất kỳ câu hỏi hoặc nhận xét nào, vui lòng liên hệ với chúng tôi ở trang Liên Hệ.
            </p>
            <p class="text">
                Trân trọng, Nhóm 2
            </p>
            <div class="skills">
                <span>Web Design</span>
                <span>Car Dealership</span>
                <span>Coding</span>
            </div>
        </div>
    </div>
</body>
</html>
